---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import { translations } from "../translations";

const t = translations.en;
---
<Layout title={t.notFound.title}>
  <h1>{t.notFound.title}</h1>
  <p>{t.notFound.description}</p>
  <a href="/">{t.notFound.goHome}</a>
</Layout>
