---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
---
<Layout title="About">
  <h1>About</h1>
  <p>This is the about page (pre-rendered). Middleware headers are applied on server-rendered responses.</p>
  <a href="/">Home</a>
</Layout>
