---
import Layout from "../layouts/Layout.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
---
<Layout title="Select Language">
  <h1>Welcome</h1>
  <p>Please select your language:</p>
  <a href={getRelativeLocaleUrl("en", "/")}>English</a>
  <br />
  <a href={getRelativeLocaleUrl("es", "/")}>Español</a>
</Layout>
